<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="admin/base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="card m-3">
			<div class="card-body">
				<h1 class="text-center">Add Category</h1>
				<div class="container-fluid mt-1">
					<div class="row">
						<div class="col-md-10 offset-md-1">
							<form novalidate="novalidate" method="POST" th:action="@{/admin/process-category}"
								th:object=${category}>
								<div class="form-group">
									<label for="exampleInputEmail1">Category Name</label> <input
										type="text" name="categoryName" class="form-control"
										id="exampleInputEmail1" aria-describedby="emailHelp"
										placeholder="Enter category"
										th:value="${category.categoryName}"
										th:classappend="${#fields.hasErrors('categoryName')?'is-invalid':''}">
									<div th:each="e : ${#fields.errors('categoryName')}"
										th:text="${e}" id="validationServer03Feedback"
										class="invalid-feedback"></div>
								</div>
								<div class="form-group">
									<label for="exampleInputPassword1">Book Section</label> <input
										type="text" name="section" class="form-control"
										id="exampleInputPassword1" placeholder="Enter section"
										th:value="${category.section}"
										th:classappend="${#fields.hasErrors('section')?'is-invalid':''}">
									<div th:each="e : ${#fields.errors('section')}" th:text="${e}"
										id="validationServer03Feedback" class="invalid-feedback">
									</div>
								</div>
								<div class="text-center">
									<button type="submit" class="btn btn-info m-3">Add
										Category</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>